<div class="main">
    <div class="login-container">
      <h2>เข้าสู่ระบบ</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <label for="email">อีเมล:</label>
        <input type="email" id="email" formControlName="email" required />
    
        <label for="password">รหัสผ่าน:</label>
        <input type="password" id="password" formControlName="password" required />
    
        <button type="submit" [disabled]="loginForm.invalid">เข้าสู่ระบบ</button>
      </form>
      <p><button (click)="forgotPasswordAction()">ลืมรหัสผ่าน?</button></p>
      <p>ยังไม่มีบัญชีใช่ไหม? <button (click)="goToRegister()">สมัครสมาชิก</button></p>
    </div>
  </div>
